<!-- 
  If the status has a value it would render the value if there is
  no value dont render the value
-->
<% if (status !== null || status !== undefined) { %>
  <p class="status">
    <%= status %> 
  </p>
<% } %>
