<html lang="en">
  <%- include('./partials/head.ejs') %>
  <div>
    <%- include('./partials/nav.ejs') %>
    <h2>Internal Server Error 503</h2>
  </div>
  <%- include('./partials/footer.ejs') %>
</html>
