<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/nav') %>
    <h3 class="welcome">Welcome to OSRS Items. Use the orange links on top of page to navigate.</h3>
  </body>
  <%- include('./partials/footer') %>
</html>
